{% extends 'base.html' %}
{% block t_block %}TECH BLOG{% endblock%}
{% block body_block %}
    <div class="center_stage">
        <h2> Recent Posts</h2>
      {% for post in posts %}
        <div class="post">
          <h2><a href="{%url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
          <div class="date">
            <p><b>Published on:</b> {{post.published_date}}</p>
            <p><b>Publised by :</b> <a href="{% url 'profile' user_id=post.author.id %}">{{post.author}}</a></p>
          </div>
          <a href="{% url 'post_detail' pk=post.pk%}">Comments:{{post.approve_comments.count}}</a>
        </div>
      {% endfor %}
      <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    </div>
{% endblock%}
